<div class="card shadow p-2" style="width: 18rem">
  <!-- Contenedor de Imagen -->
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 200px; overflow: hidden; border-bottom: 2px solid #ddd"
  >
    <img
      [src]="pescado.image"
      class="img-fluid"
      alt="{{ pescado.name }}"
      style="object-fit: contain; max-height: 100%"
    />
  </div>

  <!-- Imagen del tipo -->
  <div class="text-center mt-2">
    <img
      [src]="pescado.type.image"
      alt="{{ pescado.name }}"
      style="height: 25px"
    />
  </div>

  <!-- Cuerpo de la tarjeta -->
  <div class="card-body text-center">
    <h5 class="card-title">{{ pescado.name }}</h5>
  </div>

  <div class="d-flex justify-content-center">
    <app-fish-card-button [pescado]="pescado"></app-fish-card-button>
  </div>
</div>
