<!-- <div class="bg-secondary p-2 filtros">
  <div class="d-flex justify-content-between">
    <button
      class="btn btn-outline-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#filtersCollapse"
      aria-expanded="false"
      aria-controls="filtersCollapse"
    >
      Filters
    </button>
  </div>

  <div class="collapse mt-3" id="filtersCollapse"></div>
</div> -->

<div style="background-color: rgb(128, 100, 204)">
  <div class="d-flex justify-content-center pt-4">
    <!-- Botón de página anterior -->
    <button
      class="btn btn-light me-2"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
    >
      Anterior
    </button>

    <!-- Botones de cada página -->
    <button
      class="btn btn-outline-light mx-1"
      *ngFor="let page of totalPages"
      [class.active]="currentPage === page"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>

    <!-- Botón de página siguiente -->
    <button
      class="btn btn-light ms-2"
      [disabled]="currentPage === totalPages.length"
      (click)="changePage(currentPage + 1)"
    >
      Siguiente
    </button>
  </div>

  <div class="container pt-5">
    <div class="row">
      <app-aberration-card
        *ngFor="let aberration of aberrations"
        [aberration]="aberration"
        class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 justify-content-center d-flex"
      >
      </app-aberration-card>
    </div>
  </div>
</div>
