.fav-button {
  position: relative;
  display: inline-block;
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px; /* Ajusta el tamaño según tus necesidades */
}

.fav-button i {
  position: absolute; /* Los iconos se apilan en el mismo lugar */
  top: 0;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la animación */
  cursor: pointer; /* Hace que el cursor cambie a "puntero" */
}

/* Estilo para la estrella vacía */
.star-icon {
  opacity: 1; /* Siempre visible */
  transition: opacity 0.3s ease;
}

/* Estilo para la estrella llena */
.star-fill-icon {
  opacity: 0; /* Inicialmente la estrella llena está oculta */
  transition: opacity 0.3s ease;
}

/* Hover, hacer más grande la estrella llena */
.fav-button:hover .star-fill-icon {
  opacity: 1; /* La estrella llena se muestra al hacer hover */
  transform: scale(1.3); /* Agranda el icono al hacer hover */
}

/* Cuando el botón es "favorito", mostramos la estrella llena y ocultamos la vacía */
.fav-button.is-favorite .star-fill-icon {
  opacity: 1; /* Si es favorito, muestra la estrella llena */
}

.fav-button.is-favorite .star-icon {
  opacity: 0; /* Si es favorito, oculta la estrella vacía */
}
