<div class="container p-2">
  <form class="bg-secondary-subtle p-3 rounded" (ngSubmit)="sendFilters()">
    <!-- Al enviar el formulario, se llama a sendFilters() -->
    <div class="row">
      <!-- Location filter -->
      <div class="col-md-4 form-group p-2" style="border-right: 2px solid #ccc">
        <strong>Location:</strong>
        <div class="form-check" *ngFor="let location of locationsList">
          <input
            class="form-check-input"
            type="checkbox"
            [name]="'locations'"
            [value]="location"
            [(ngModel)]="selectedLocations[location]"
          />
          <label class="form-check-label">{{ location }}</label>
        </div>
      </div>

      <!-- Time filter -->
      <div class="col-md-4 form-group p-2" style="border-right: 2px solid #ccc">
        <strong>Time:</strong>
        <div class="form-check" *ngFor="let time of timeList">
          <input
            class="form-check-input"
            type="checkbox"
            [name]="'times'"
            [value]="time"
            [(ngModel)]="selectedTimes[time]"
          />
          <label class="form-check-label">{{ time }}</label>
        </div>
      </div>

      <!-- Capture Method filter -->
      <div class="col-md-4 form-group p-2">
        <strong>Capture:</strong>
        <div class="form-check" *ngFor="let method of captureMethodsList">
          <input
            class="form-check-input"
            type="checkbox"
            [name]="'captureMethods'"
            [value]="method"
            [(ngModel)]="selectedCaptureMethods[method]"
          />
          <label class="form-check-label">{{ method }}</label>
        </div>
      </div>
    </div>

    <div class="text-center mt-3">
      <button class="btn btn-info" type="submit">Filter</button>
      <!-- Al hacer submit se aplica el filtro -->
    </div>
  </form>
</div>
